@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/* font-family: 'Roboto', sans-serif; */

* {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;

}
.main-container {
  display: flex;
  width: 90vw;
  opacity: .9;
}
.panel {
  cursor: pointer;
  background: no-repeat center center/cover;
  height: 80vh;
  background-size: auto 100%;
  color: aliceblue;
  border-radius: 50px;
  flex: 0.5;
  margin: 10px;
  position: relative;
  transition: flex 0.5s ease-in;
}
.panel h3 {
  font-size: 1.5rem;
  position: absolute;
  bottom: 10%;
  left: 40%;

  margin: 0;
  opacity: 0;
}
.panel h3:hover {
  font-size: 2.4rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #fff;
}
.panel.active {
  flex: 3;
}
.panel.active h3 {
  opacity: 1;
  transition: opacity .5s ease-in-out 0.2s;
}

@media (max-width:480px){
    .main-container{
        width: 100vw;
    }
    .panel:nth-of-type(4),
    .panel:nth-of-type(5){
        display: none;
    }
    
}
@media (max-width:1000px){
    .panel{
        border-radius: 20px;
    }
}